.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.temp {
    font: 700 53px/1.2 "Inter", sans-serif;
}

.name {
    margin-top: 80px;
    font: 700 20px/1.2 "Inter", sans-serif;
}

.description {
    font: 400 14px/1.2 "Inter", sans-serif;
    color: #35424F;
    text-transform: capitalize;
}

@media (max-width: 1024px) {
    .name {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .name {
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 18px;
        font-weight: 600;
    }

    .description {
        font-size: 14px;
    }
}

@media (max-height: 500px) {
    .img {
        display: none;
    }
}